# 198.251.90.234 can be used to test local DNS servers via *.works.lan

*.works.lan:80 {
	respond "Congrats, your local DNS server resolved this address!" 200
}

# Otherwise, redirect to tls.cat for more information about this service

(faketls_handler) {
	handle /myip {
		templates
		header Content-Type text/plain
		respond "{{.RemoteIP}}"
	}

	handle {
		redir https://tls.cat
	}
}

:80 {
	import faketls_handler
}

:443 {
	tls /etc/ssl/certs/faketls.pem /etc/ssl/private/faketls.key
	import faketls_handler
}
