(faketls_handler) {
	handle /myip {
		templates
		header Content-Type text/plain
		respond "{{.RemoteIP}}"
	}

	handle {
		redir https://tls.cat
	}
}

:80 {
	import faketls_handler
}

:443 {
	tls /etc/ssl/certs/faketls.pem /etc/ssl/private/faketls.key
	import faketls_handler
}
