# 198.251.90.234 can be used to test local DNS servers via *.works.lan

*.works.lan:80 {
	respond "Congrats, your local DNS server resolved this address!" 200
}

# For direct connections to 198.251.90.234, explain the services more broadly

198.251.90.234:80 {
	header Content-Type text/html
	respond `Hi, this is an anycast deployment running <a href="https://github.com/calamity-inc/faketls-dns">a DNS server</a> and <a href="https://github.com/calamity-inc/faketls-http">an HTTP server</a>.` 200
}

# my.iptls.com

my.iptls.com:80 {
	templates
	respond `{{.RemoteIP | replace "." "-"}}.iptls.com`
}

# my.faketls.com

my.faketls.com:80 {
	templates
	respond `{{.RemoteIP | replace "." "-"}}.faketls.com`
}

my.faketls.com:443 {
	templates
	respond `{{.RemoteIP | replace "." "-"}}.faketls.com`
	tls /etc/ssl/certs/faketls.pem /etc/ssl/private/faketls.key
}

# Otherwise, redirect to tls.cat for more information about this service

:80 {
	redir https://tls.cat
}

:443 {
	tls /etc/ssl/certs/faketls.pem /etc/ssl/private/faketls.key
	redir https://tls.cat
}
